@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  font-family: 'Noto Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @apply text-black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  @apply box-border block;
}

form {
  @apply flex-auto flex-col;
}

form > * {
  @apply container m-2 mx-auto;
}

form > span > * {
  @apply flex-auto;
}

form > span > label {
  @apply mx-auto;
}

button, input[type=submit]{
  @apply bg-primary-800 text-white h-8 hover:bg-primary-600
}

.sidebarContainer {
  @apply container p-2;
}

.image-controls > div {
  @apply py-2;
}

.image-page button {
  @apply border-0 cursor-pointer mx-2 my-0 px-2 bg-primary-300 text-black;
}

.image-page button:hover {
  @apply bg-primary-200;
}

.num-images-control {
  @apply max-w-md;
}

.num-images-control > span {
  @apply py-0 grid grid-cols-8 !important;
}

.num-images-control > span > label {
  @apply col-span-7 !important;
}

.num-images-control > span > select {
  @apply col-span-1 !important;
}

.slider-min {
  @apply block w-1/4 box-border min-w-12;
}

.multi-range-slider {
  @apply block w-full box-border border-0 shadow-none !important;
}

.bar-inner {
  @apply bg-primary-800 shadow-none border-0 !important;
}

tr {
  height: 32px;
}

td, th {
  padding: 0px 0.25em;
}
